<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <script>
        const photons = {{ index . }}
    </script>
    <div class="container" id="container"></div>

    <script>
      window.onload = function () {
          var str='';
          photons.forEach(function (photon){
            str += '<div class="px-4 py-5 my-5 text-center border-bottom" style="width: 600px;" >'
              // str += '<div>Version:\t'+photon["version"]+'</div>'
              if (photon["type"] == 1) {
                  str += '<div>Type:\t'+photon["type"]+'</div>'
                  str += '<div>Address:\t'+photon["data"]["address"]+'</div>'
                  photon["data"]["sigs"].forEach(function (sig){
                    str += '<div>Signature Hex:\t'+ sig +'</div>'
                  })
              } else if (photon["type"] == 2) {
                  str += '<div>Type:\t'+photon["type"]+'</div>'
                  str += '<div>Name:\t'+photon["data"]["name"]+'</div>'
                  str += '<div>Email:\t'+photon["data"]["email"]+'</div>'
                  str += '<div>Bio:\t'+photon["data"]["bio"]+'</div>'
                  str += '<div>URL:\t'+photon["data"]["url"]+'</div>'
                  str += '<div>Location:\t'+photon["data"]["location"]+'</div>'
                  if (photon["data"]["avatar"] != undefined ){
                      var res = photon["data"]["avatar"];
                      if (res["data"] != undefined && res["data"].length > 10) {
                        var imgFile = res["url"];
                        str += '<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" style="width: 200px; height: 200px;" src="data:image/'+ imgFile.substring(imgFile.lastIndexOf(".")+1)+';base64, ' + res["data"] +'" data-holder-rendered="true">'
                      } else{
                        str += '<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" style="width: 200px; height: 200px;" src="' + res["url"] +'" data-holder-rendered="true">'
                      }
                  }
              } else {
                  str += '<div>Type:\t'+photon["type"]+'</div>'
                  str += '<div>Quote:\t'+photon["data"]["quote"]+'</div>'
                  str += '<div>Text:\t'+photon["data"]["text"]+'</div>'
                  if (photon["data"]["resources"] != undefined ){
                    photon["data"]["resources"].forEach(function (res) {
                      if (res["data"] != undefined && res["data"].length > 10) {
                        var imgFile = res["url"];
                        str += '<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" style="width: 200px; height: 200px;" src="data:image/'+ imgFile.substring(imgFile.lastIndexOf(".")+1)+';base64, ' + res["data"] +'" data-holder-rendered="true">'
                      } else{
                        str += '<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" style="width: 200px; height: 200px;" src="' + res["url"] +'" data-holder-rendered="true">'
                      }
                    })
                  }
            }
            str += '</div>'
          })
          document.getElementById("container").innerHTML=str;
      }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>